@use "../../../../assets/styles/mixin" as mixin;

.oneService {
    margin: 2% 0;
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mixin.large-laptop {
        width: 70%;
    }

    @include mixin.laptop {
        width: 90%;
        margin: 3% 0;
    }

    @include mixin.tablet {
        width: 100%;
    }

    .imgContainer {
        //Overflow hidden ou object-fit sur l'image à voir
        width: 50%;
        min-width: 300px;

        @include mixin.tablet {
            width: 100%;
        }

        @include mixin.smartphone {
            width: 100%;
        }

        img {
            width: 100%;
            max-height: 365px;
            border-radius: 3.125rem 0 0 0;
            border: 0.1rem solid var(--secondary);
            aspect-ratio: 1;
            object-fit: fill;

            @include mixin.smartphone {
                max-height: 250px;
            }
        }
    }

    .txtContainer {
        width: 50%;
        min-width: 300px;
        color: var(--text-color-light);
        padding: 2% 3%;
        margin: auto;
        display: flex;
        flex-direction: column;

        @include mixin.tablet {
            width: 100%;
        }

        h2 {
            text-align: center;
            margin-bottom: 8%;

            @include mixin.tablet {
                margin-bottom: 5%;
            }

        }

        .servicesLine {
            @include mixin.tablet {
                width: 60%;
                margin: 0 auto;
            }
        }

        .serviceTxt {
            margin: 8% 0 8% 0;

            @include mixin.tablet {
                margin: 5% 0 5% 0;
                width: 80%;
                align-self: center;
            }
        }

        a {
            text-align: center;
            margin-bottom: 2%;
        }
    }
}

.reverseCard {
    flex-direction: row-reverse;

    .imgContainer {
        img {
            border-radius: 0 0 3.125rem 0;

            @include mixin.tablet {
                border-radius: 3.125rem 0 0 0;
            }
        }
    }
}