@use"../../assets/styles/mixin" as mixin;

.profilePage {
    flex: 1 1 auto;
}

.profileSection {
    padding-block: var(--padding-block-section);

    .profileContainer {
        padding: var(--padding-block-article);

        .welcomeTitle {
            color: var(--text-color-dark);
            margin-bottom: 2%;
        }

        .mainContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .navContainer {
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 3% 5%;

                @include mixin.tablet {
                    display: none;
                }

                .subContainerTitle {
                    font-size: 1.5rem;
                    margin-bottom: 5%;
                    font-family: var(--font-family);
                    font-weight: 500;
                }

                nav {
                    ul {
                        li {
                            padding: 5% 0;
                            transition: .5s all;

                            &:hover {
                                transform-origin: left;
                                transform: scale(1.05);
                            }

                            .disconnectButton {
                                background: none;
                                border: none;
                            }

                            a {
                                font-family: var(--font-family);
                                color: var(--text-color-light);
                                font-size: 1.2rem;

                                @include mixin.tablet {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }

                    .line {
                        width: 100%;
                        margin: 10% 0;
                    }
                }
            }

            .chosenProfileCategory {
                min-width: fit-content;
                width: 50%;
                min-height: 40vh;

                @include mixin.tablet {
                    width: 80%;
                }

                @include mixin.xs {
                    width: 85%;
                }
            }
        }


    }
}

.burgerMenu {
    display: none;

    @include mixin.tablet {
        display: block;
        position: fixed;
        z-index: 3;
        left: 0;
        top: 20%;
        text-shadow: 0px 0px 3px var(--text-color-light);

    }

    i {
        font-size: 2rem;
        color: var(--text-color-dark);
    }
}

.mobileNav {
    transform: translateX(-100%);
    // display: block;
    position: fixed;
    left: 0;
    top: 20%;
    z-index: 2;
    display: flex;
    transition: .5s all;

}

.showMobileNav {
    // display: block;
    position: fixed;
    left: 0;
    top: 20%;
    z-index: 2;
    display: flex;
    transition: .5s all;
    transform: translateX(0);

}

.burgerNav {
    width: 30vw;
    background-color: var(--secondary);
    border: .1rem solid var(--primary);
    padding: 5% 3%;

    @include mixin.smartphone {
        width: 60vw;
    }

    ul {
        li {
            padding: 5% 0;

            a {
                color: var(--text-color-light);
            }

            .disconnectButton {
                background: none;
                border: none;
                font-family: var(--font-family);
                font-size: 1rem;
            }
        }
    }
}

.closeBurgerMenu {
    i {
        font-size: 2rem;
        color: var(--text-color-light);
        backdrop-filter: blur(1rem);
    }
}