@use"../../../../assets/styles/mixin" as mixin;

.recipesTableContainer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    table {
        padding: 2%;
        border-spacing: 0;
        font-family: var(--font-family);
        width: 60%;
        margin-bottom: 5%;

        @include mixin.small-laptop {
            width: 80%;
        }

        @include mixin.tablet {
            width: 90%;
            padding: 4%;
        }

        thead {

            tr {

                th {
                    border-bottom: .1rem solid var(--primary);
                    font-weight: 500;
                    font-size: 1.2rem;
                    padding-bottom: 3%;

                    @include mixin.tablet {
                        font-size: 1rem;
                    }

                    @include mixin.smartphone {
                        font-size: .9rem;
                    }
                }
            }
        }

        tbody {
            tr {

                td {
                    border-bottom: .1rem solid var(--primary);
                    padding-block: 2%;

                    @include mixin.smartphone {
                        font-size: .9rem;
                    }
                }

                .imgContainer {
                    width: 20%;

                    @include mixin.smartphone {
                        display: none;
                    }

                    img {
                        width: 100%;
                        margin: 0 auto;
                        border: .2rem solid var(--primary);
                    }
                }

                .buttonContainer {
                    text-align: center;

                    @include mixin.tablet {
                        width: 20%;
                    }

                    @include mixin.smartphone {
                        width: 22%;
                    }

                    button {
                        background: none;
                        border: none;
                        cursor: pointer;

                        i {
                            color: var(--text-color-light);
                            font-size: 1.2rem;

                            @include mixin.smartphone {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }

    }
}

#imgColumn {
    @include mixin.smartphone {
        display: none;
    }
}