@use"../../../assets/styles/mixin" as mixin;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #EAC4E0 inset;
}

.inscriptionArticle {
    background-color: var(--primary);
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .formContainer {
        min-width: 540px;
        width: 28%;
        padding: 3% 0;
        display: flex;
        justify-content: center;

        @include mixin.tablet {
            width: 90%;
            min-width: 300px;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;

            label {
                font-family: var(--font-family);
                font-size: 1.2rem;
                color: var(--text-color-light);
                margin: 3% 0 1% 0;
                align-self: flex-start;

                @include mixin.tablet {
                    font-size: 1.1rem;
                }

                @include mixin.smartphone {
                    font-size: 1rem;
                }
            }

            input {

                background-color: var(--primary);
                border-radius: 1rem;
                border: .1rem solid var(--secondary);
                padding: 3% 2%;
                width: 100%;
                margin-bottom: 2%;

                &::placeholder {
                    color: var(--text-color-dark);
                    font-size: .8rem;
                    opacity: .8;
                    font-style: italic;
                }
            }

            .acceptConditions {
                .oneCondition {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .conditionLabel {
                        width: 90%;

                        a {
                            font-size: 1rem;
                            color: var(--text-color-light);
                            text-decoration: underline;
                            transition: .5s all;

                            &:hover {
                                color: var(--primary);
                            }
                        }
                    }

                    input {
                        width: 5%;
                    }
                }
            }

            .feedbackContainer {
                margin-block: 5%;

                .alreadyExists {
                    display: flex;
                    align-items: center;

                    a {
                        color: var(--text-color-light);
                        font-family: var(--font-family);
                        font-size: 1.2rem;
                    }
                }
            }

            button {
                background-color: var(--secondary);
                font-size: 1.2rem;
                cursor: pointer;
                margin-top: 1%;
                transition: 1s all;

                &:hover {
                    background-color: var(--primary);
                    color: var(--text-color-dark);
                }
            }
        }
    }
}

.feedback {
    color: rgb(255, 79, 79);
    font-size: 1rem;
}

.feedbackGood {
    color: rgb(89, 240, 89);
    font-size: 1rem;
}

.link {
    color: var(--text-color-light);
    font-family: var(--font-family);
    transition: .5s all;
    text-align: center;

    &:hover {
        color: var(--primary);
    }
}