@use"../../assets/styles/mixin" as mixin;

.formContainer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;

}

.outlet {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navForms {
    padding: 2% 7%;
    width: 100%;

    @include mixin.tablet {
        padding: 5% 7%;
    }

    ul {
        display: flex;
        justify-content: space-evenly;

        li {

            .linkUser {
                color: var(--text-color-dark);
                align-self: flex-end;
                font-size: 2.5rem;
            }
        }
    }
}