@use"../../../assets/styles/mixin" as mixin;

.resetPasswordContainer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .resetPassword {
        display: flex;
        justify-content: center;
        width: 30%;

        @include mixin.large-laptop {
            width: 50%;
        }

        @include mixin.small-laptop {
            margin-block: 5%;
        }

        @include mixin.tablet {
            width: 70%;
        }

        @include mixin.smartphone {
            width: 90%;
        }

        .enterCodeForm {
            width: 100%;
            padding: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--secondary);
            border-radius: var(--border-radius);

            @include mixin.large-laptop {
                margin-block: 10%;
            }

            @include mixin.small-laptop {
                margin-block: 5%;
            }


            label {
                font-family: var(--font-family);
                font-size: 1.5rem;
                color: var(--text-color-light);
                text-align: center;

                @include mixin.tablet {
                    font-size: 1.1rem;
                }

                @include mixin.smartphone {
                    font-size: 1rem;
                }
            }

            input {
                width: 40%;
                align-self: center;
                padding-inline: 2%;
                font-size: 3rem;
                background: none;
                background-color: var(--primary);
                border: none;
                border-radius: .8rem;
                margin-block: 3% 5%;
                color: var(--text-color-dark);
                text-align: center;

                @include mixin.smartphone {
                    font-size: 2.5rem;
                }
            }

            button {
                padding: 1% 2%;
                cursor: pointer;
            }

            .infoCode {
                color: var(--text-color-light);
                opacity: .7;
                margin-top: 3%;
            }
        }

        .modifyPasswordForm {
            width: 100%;
            padding: 10%;
            display: flex;
            flex-direction: column;
            background-color: var(--secondary);
            border-radius: var(--border-radius);
            margin-block: 5%;

            @include mixin.large-laptop {
                margin-block: 10%;
            }

            @include mixin.small-laptop {
                margin-block: 5%;
            }

            @include mixin.smartphone {
                margin-block: 15%;
            }

            label {
                width: max-content;
                font-family: var(--font-family);
                font-size: 1.2rem;
                color: var(--text-color-light);

            }

            input {
                background: none;
                background-color: var(--primary);
                border: none;
                border-radius: .8rem;
                margin-block: 2% 5%;
                color: var(--text-color-dark);
                padding: 2% 3%;
            }

            button {
                padding: 1% 2%;
                cursor: pointer;
            }
        }
    }
}

.feedback {
    color: var(--text-color-light);
    margin-bottom: 5%;
}