.deleteAccountContainer {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        align-self: flex-start;
        margin-block: 3%;
    }

    input {
        background-color: var(--text-color-light);
        border: none;
        border-radius: .7rem;
        max-width: 80%;
        padding: .25% 2%;
        font-size: 1.2rem;
        font-family: var(--font-family);
        margin-block: 5%;
    }

    button {
        cursor: pointer;
        padding: 1% 2%;
        font-size: 1rem;
        // margin-top: 5%;
    }
}

.feedbackContainer {
    width: 100%;
    margin-bottom: 5%;

    .feedback {
        color: red;
        text-align: center;
        margin: 0;
    }
}