@use"../../assets/styles/mixin" as mixin;

.header {
    width: 100%;
    height: 55vh;
    display: flex;

    @include mixin.large-laptop {
        height: 45vh;
    }

    @include mixin.laptop {
        height: 35vh;
    }

    @include mixin.tablet {
        height: 25vh;
    }

    @include mixin.smartphone {
        height: 20vh;
    }

    h1 {
        align-self: center;
        color: var(--text-color-light);
        font-size: 8rem;
        padding: 0 4%;

        @include mixin.large-laptop {
            font-size: 7rem;
        }

        @include mixin.laptop {
            font-size: 6rem;
        }

        @include mixin.tablet {
            font-size: 4rem;
        }

        @include mixin.smartphone {
            font-size: 3rem;
        }
    }
}