@use"../../../../assets/styles/mixin" as mixin;

.modifyPasswordForm {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    padding: var(--padding-block-article);

    input {
        background-color: var(--text-color-light);
        border: none;
        border-radius: .7rem;
        margin-block: 2%;
        padding: .25% 2%;
        font-size: 1.2rem;
        font-family: var(--font-family);
    }

    button {
        padding: 1% 2%;
        cursor: pointer;
        margin-top: 5%;

        @include mixin.smartphone {
            font-size: 1rem;
        }
    }
}

.feedback {
    color: red;
}

.feedbackGood {
    color: green;
}