:root {
    --primary: #EAC4E0;
    --secondary: #522525;
    --text-color-light: #F8EBEB;
    --text-color-dark: #391919;
    --error: #e74c3c;
    --font-title: 'Dancing Script', cursive;
    --font-family: 'Poppins', sans-serif;
    --border-radius: 3.125rem 0rem;
    --font-size-header: 7rem;
    --font-size-title: 3.5rem;
    --font-size-subtitle: 2.5rem;
    --font-size-p: 1.2rem;
    --padding-block-section: 1.5vh;
    --padding-block-article: 0 4% 4% 4%;
    --padding-title: 2% 0% 0 0%;
}